<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(function(){
            $("input").click(function(){
                window.open('http://127.0.0.1:8000')
            })
        })
    </script>
</head>
<body>
    <main id="lalala">
        <div>
            <input type="button" value="⬅️ 뒤로 가기" onclick="location.href='/'">
        </div>
        <div class="left">
          <img class="bigimg" src="{{k_img}}">
        </div>
        <div class="right">
          <h2>{{ k_name }}</h2>
            <h3>{{ bookid }}</h3>
            <br><br><br>
            <br><br><br>
        </div>
    </main>

</body>
</html>